<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Container View</title>
	</head>
	<body>
		<table>
		<tr>
			<th>Name</th>
			<th>State</th>
			<th>MacAddress</th>
			<th>IPAddress</th>
			<th>Gateway</th>
			<th>Net</th>
		</tr>
		{{ range . }}
		<tr>
			<td> {{ index .Names 0 }} </td>
			<td> {{ .State }} </td>
			<td> {{ (index .NetworkSettings.Networks "bridge").MacAddress }} </td>
			<td> {{ (index .NetworkSettings.Networks "bridge").IPAddress }} </td>
			<td> {{ (index .NetworkSettings.Networks "bridge").Gateway }} </td>
			{{ range $key, $value := .NetworkSettings.Networks }}
			<td> {{ $key }} </td>
			{{ end }}
		</tr>
		{{ end}}
		</table>
	</body>
</html>
