<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>OgreDock Home</title>
	</head>
	<body>
		<img src="/webmod/public/images/ogredock.png" width="400" height="75"> 
		<hr>
			<h2> Container Management </h2>
			<iframe src="/cmv" height="200" width="1200" title="cmv"></iframe>
		<table>
			<tr>
				<td>
					<h2> Network Management </h2>
					<iframe src="/nmv" height="350" width="750" title="nmv"></iframe>
				</td>
				<td>
					<h2> Container Generation </h2>
						<iframe src="/cgv" height="350" width="850" title="cgv"></iframe>
				</td>
			</tr>
		</table>
	</body>
</html>
