<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Network Management</title>
	</head>
	<body>
		<form action="/nmv" method="post">
			<table>
				<tr>
            	<td>
            		<label> Name </label>
               	<input type="text" name="Name" size=10em>
            	</td>
            	<td>
            		<label> Parent-If </label>
               	<input type="text" name="ParentIF" size=10em>
            	<td>
            		<label> Driver </label>
               	<input type="text" name="Driver" size=10em>
            	</td>
				</tr>
				<tr>
            	</td>
            	<td>
            		<label> Ip-Range </label>
               	<input type="text" name="IPRange" size=10em>
            	</td>
            	<td>
            		<label> Subnet </label>
               	<input type="text" name="Subnet" size=10em>
            	</td>
            	<td>
            		<label> Gatway </label>
               	<input type="text" name="Gateway" size=10em>
            	</td>
				</tr>
				<tr>
					<td>
						<input type="submit" name="create_button" value="Create Container Network">
					</td>
				</tr>
			</table>
		<br>
		<table>
				<tr>
					<td>
						<input type="submit" name="destroy_button" value="Destroy">
					</td>
					<td>
						<input type="submit" name="inspect_button" value="Inspect">
					</td>
				</tr>
		</table>
		<table name="ntable">
			<th> </th>
			<th> Name </th>
			<th> Driver </th>
			{{ range . }}
			<tr>
				<td> <input type="checkbox" name= {{ index .ID }} >
				<td> {{ .Name }} </td>
				<td> {{ .Driver }} </td>
			</tr>
			{{ end }}
		</table>	
		<form>
	</body>
   <style>
		input[type="submit"] {
			margin: 1em;
		}
		td, th {
			padding-left: 1em;
			text-align: right;
		}
	</style>
</html>
